<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Алгоритмы сортировки</title>
  </head>
  <body>
   <nav class="navbar fixed-top navbar-dark bg-dark">
  <a class="navbar-brand mr-auto" href="#">АИСД ЛР1</a>
   <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Рогозина Л.А. 2321 </a>
      </li>
    </ul>
</nav>
      <main class="pt-5">
    <div class="container">
        <h1 class="mt-5 mb-4">Анализ алгоритмов сортировки</h1>
      <div class="row">
        <ul class="list-group">
          <li class="list-group-item"><b>Самая быстрая сортировка на отортированном массиве:</b> {{fastest_results.[0].name}}</li>
          <li class="list-group-item"><b>Самая быстрая сортировка на почти отортированном массиве:</b> {{fastest_results.[1].name}}</li>
          <li class="list-group-item"><b>Самая быстрая сортировка на отортированном в обратном порядке массиве:</b> {{fastest_results.[2].name}}</li>
          <li class="list-group-item"><b>Самая быстрая сортировка на случайном массиве:</b> {{fastest_results.[3].name}}</li>
        </ul>
      </div>
    <div class="row">
      <div class="col-sm">
          <h2>График работы алгоритмов с квадратичной ассимптотикой</h2>
      <canvas id="quadroSort"></canvas>
      </div>
    </div>
        <div class="row">
      <div class="col-sm">
          <h2>График работы алгоритмов с неквадратичной ассимптотикой</h2>
      <canvas id="nonQuadroSort"></canvas>
      </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
      <a class="card-title" href="/selection/">Сортировка выбором</a>
      <p class="card-text">Для отсортированного массива время работы {{selection_result.[0]}}мс.</p>
      <p class="card-text">Для почти отсортированного массива время работы {{selection_result.[1]}}мс.</p>
      <p class="card-text">Для отсортированного в обратном порядке массива время работы {{selection_result.[2]}}мс.</p>
      <p class="card-text">Для случайного массива время работы {{selection_result.[3]}}мс.</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
                <div class="card">
                    <div class="card-body">
          <a class="card-title" href="/bubble/">Сортировка пузырьком</a>
      <p class="card-text">Для отсортированного массива время работы {{bubble_result.[0]}}мс.</p>
      <p class="card-text">Для почти отсортированного массива время работы {{bubble_result.[1]}}мс.</p>
      <p class="card-text">Для отсортированного в обратном порядке массива время работы {{bubble_result.[2]}}мс.</p>
      <p class="card-text">Для случайного массива время работы {{bubble_result.[3]}}мс.</p>
                    </div>
                </div>
        </div>
        <div class="col-sm">
                        <div class="card">
                            <div class="card-body">
                  <a class="card-title" href="/insertion/">Сортировка вставкой</a>
      <p class="card-text">Для отсортированного массива время работы {{insertion_result.[0]}}мс.</p>
      <p class="card-text">Для почти отсортированного массива время работы {{insertion_result.[1]}}мс.</p>
      <p class="card-text">Для отсортированного в обратном порядке массива время работы {{insertion_result.[2]}}мс.</p>
      <p class="card-text">Для случайного массива время работы {{insertion_result.[3]}}мс.</p>
                            </div>
                        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
              <a class="card-title" href="/merge/">Сортировка слиянием</a>
      <p class="card-text">Для отсортированного массива время работы {{merge_result.[0]}}мс.</p>
      <p class="card-text">Для почти отсортированного массива время работы {{merge_result.[1]}}мс.</p>
      <p class="card-text">Для отсортированного в обратном порядке массива время работы {{merge_result.[2]}}мс.</p>
      <p class="card-text">Для случайного массива время работы {{merge_result.[3]}}мс.</p>
                        </div>
                </div>
        </div>
        <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
              <a class="card-title" href="/quick/">Быстрая сортировка</a>
      <p class="card-text">Для отсортированного массива время работы {{quick_result.[0]}}мс.</p>
      <p class="card-text">Для почти отсортированного массива время работы {{quick_result.[1]}}мс.</p>
      <p class="card-text">Для отсортированного в обратном порядке массива время работы {{quick_result.[2]}}мс.</p>
      <p class="card-text">Для случайного массива время работы {{quick_result.[3]}}мс.</p>
                        </div>
                    </div>
        </div>
        <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
              <a class="card-title" href="/heap/">Пирамидальная сортировка</a>
      <p class="card-text">Для отсортированного массива время работы {{heap_result.[0]}}мс.</p>
      <p class="card-text">Для почти отсортированного массива время работы {{heap_result.[1]}}мс.</p>
      <p class="card-text">Для отсортированного в обратном порядке массива время работы {{heap_result.[2]}}мс.</p>
      <p class="card-text">Для случайного массива время работы {{heap_result.[3]}}мс.</p>
                        </div>
                    </div>
        </div>
    </div>
        <div class="row">
            <div class="col-sm">
                        <div class="card">
                            <div class="card-body">
                  <a class="card-title" href="/shell/">Сортировка Шелла</a>
      <p class="card-text">Для отсортированного массива время работы {{shell_result.[0]}}мс.</p>
      <p class="card-text">Для почти отсортированного массива время работы {{shell_result.[1]}}мс.</p>
      <p class="card-text">Для отсортированного в обратном порядке массива время работы {{shell_result.[2]}}мс.</p>
      <p class="card-text">Для случайного массива время работы {{shell_result.[3]}}мс.</p>
                </div></div></div>
            <div class="col-sm">
                        <div class="card">
                            <div class="card-body">
                  <a class="card-title" href="/hibbard/">Сортировка Шелла (Последовательность Хиббарда)</a>
      <p class="card-text">Для отсортированного массива время работы {{hibbard_result.[0]}}мс.</p>
      <p class="card-text" >Для почти отсортированного массива время работы {{hibbard_result.[1]}}мс.</p>
      <p class="card-text">Для отсортированного в обратном порядке массива время работы {{hibbard_result.[2]}}мс.</p>
      <p class="card-text">Для случайного массива время работы {{hibbard_result.[3]}}мс.</p>
                </div></div></div>
            <div class="col-sm">
                        <div class="card">
                            <div class="card-body">
                  <a class="card-title" href="/pratt/">Сортировка Шелла (Последовательность Пратта)</a>
      <p class="card-text">Для отсортированного массива время работы {{pratt_result.[0]}}мс.</p>
      <p class="card-text">Для почти отсортированного массива время работы {{pratt_result.[1]}}мс.</p>
      <p class="card-text" >Для отсортированного в обратном порядке массива время работы {{pratt_result.[2]}}мс.</p>
      <p class="card-text">Для случайного массива время работы {{pratt_result.[3]}}мс.</p>
                </div></div></div>
        </div>
      <h3>Исходные массивы:</h3>
      <h5><b>Отсортированный массив</b>:</h5>
      <p class="array">[{{sortedArray}}]</p>
      <h5><b>Почти отсортированный массив</b>:</h5>
      <p class="array">[{{semiSortedArray}}]</p>
      <h5><b>Отсортированный в обратном порядке массив</b>: </h5>
      <p class="array">[{{reversedArray}}]</p>
      <h5><b>Случайный массив</b>: </h5>
      <p class="array">[{{randomArray}}]</p>
    </div>
      </main>
  </body>
  <script>
    const ctx1 = document.getElementById('quadroSort');

    new Chart(ctx1, {
        type: 'line',
        data: {
          labels: [1000, 2000, 3000, 4000, 5000, 6000, 7000, 8000, 9000, 10000],
          datasets: [{
          label: 'Сортировка выборкой',
              data: [{{quadroResults.[0]}}],
              fill: false,
              borderColor: 'rgb(255, 192, 192)',
              tension: 0.[1]
          },
          {
              label: 'Сортировка пузырьком',
          data: [{{quadroResults.[1]}}],
              fill: false,
              borderColor: 'rgb(255, 255, 192)',
              tension: 0.[1]
          },{
                  label: 'Сортировка вставкой',
              data: [{{quadroResults.[2]}}],
              fill: false,
              borderColor: 'rgb(255, 192, 255)',
              tension: 0.[1]
          },

              {label: 'Сортировка Шелла (последовательность Шелла)',
              data: [{{quadroResults.[3]}}],
              fill: false,
              borderColor: 'rgb(75, 192, 192)',
              tension: 0.[1]
          }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Время, мс'
                    }
                },
                x: {
                    title: {
                        display: true,
                        text: 'Количество элементов'
                    }
                }
            }
        }
      });
      const ctx2 = document.getElementById('nonQuadroSort');

      new Chart(ctx2, {

          type: 'line',
          data: {
              labels: [1000, 2000, 3000, 4000, 5000, 6000, 7000, 8000, 9000, 10000],
              datasets: [{
                  label: 'Сортировка слиянием',
                  data: [{{nonQuadroResults.[0]}}],
                  fill: false,
                  borderColor: 'rgb(255, 192, 192)',
                  tension: 0.[1]
              },
                  {
                      label: 'Быстрая сортировка',
                      data: [{{nonQuadroResults.[1]}}],
                      fill: false,
                      borderColor: 'rgb(255, 255, 192)',
                      tension: 0.[1]
                  },{
                      label: 'Сортировка Шелла (последовательность Хиббарда)',
                      data: [{{nonQuadroResults.[2]}}],
                      fill: false,
                      borderColor: 'rgb(255, 192, 255)',
                      tension: 0.[1]
                  },

                  {label: 'Сортировка Шелла (последовательность Пратта)',
                      data: [{{nonQuadroResults.[3]}}],
                      fill: false,
                      borderColor: 'rgb(75, 192, 192)',
                      tension: 0.[1]
                  },

                  {label: 'Пирамидальная сортировка',
                      data: [{{nonQuadroResults.[4]}}],
                      fill: false,
                      borderColor: 'rgb(97,9,26)',
                      tension: 0.[1]
                  }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true,
                      title: {
                          display: true,
                          text: 'Время, мс'
                      }
                  },
                  x: {
                      title: {
                          display: true,
                          text: 'Количество элементов'
                      }
                  }
              }
          }
        });
  </script>
  <style>
  .row {
      margin-bottom: 20px;
  }
    .array {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }
      .card-title {
          text-decoration: underline;
          cursor: pointer;
          color: black;
          font-size: 1.4rem;
      }
      .card-title:hover {
          opacity: 0.7;
      }
  </style>
</html>
