<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Алгоритмы сортировки</title>
  </head>
  <body>
   <nav class="navbar fixed-top navbar-dark bg-dark">
  <a class="navbar-brand mr-auto" href="#">ОАИП ЛР1</a>
   <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Рогозина Л.А. 2321 </a>
      </li>
    </ul>
</nav>
      <main class="pt-5">
    <div class="container">
        <h1 class="mt-5 mb-4">Анализ алгоритмов сортировки</h1>
        <h3>Исходные массивы:</h3>
        <h5><b>Отсортированный массив</b>:</h5>
        <p>[{{sortedArray}}]</p>
        <h5><b>Почти отсортированный массив</b>:</h5>
        <p>[{{semiSortedArray}}]</p>
        <h5><b>Отсортированный в обратном порядке массив</b>: </h5>
        <p>[{{reversedArray}}]</p>
        <h5><b>Случайный массив</b>: </h5>
        <p>[{{randomArray}}]</p>
    <div class="row">
      <div class="col-sm">
          <h2>График работы алгоритмов с квадратичной ассимптотикой</h2>
      <canvas id="quadroSort"></canvas>
      </div>
      <div class="col-sm">
          <h2>График работы алгоритмов с неквадратичной ассимптотикой</h2>
      <canvas id="nonQuadroSort"></canvas>
      </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
      <h4 class="card-title">Сортировка выбором</h4>
      <p class="card-text">Для отсортированного массива время работы {{selection_result.[0]}}мс.</p>
      <p class="card-text">Для почти отсортированного массива время работы {{selection_result.[1]}}мс.</p>
      <p class="card-text">Для отсортированного в обратном порядке массива время работы {{selection_result.[2]}}мс.</p>
      <p class="card-text">Для случайного массива время работы {{selection_result.[3]}}мс.</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
                <div class="card">
                    <div class="card-body">
          <h4 class="card-title">Сортировка пузырьком</h4>
      <p class="card-text">Для отсортированного массива время работы {{bubble_result.[0]}}мс.</p>
      <p class="card-text">Для почти отсортированного массива время работы {{bubble_result.[1]}}мс.</p>
      <p class="card-text">Для отсортированного в обратном порядке массива время работы {{bubble_result.[2]}}мс.</p>
      <p class="card-text">Для случайного массива время работы {{bubble_result.[3]}}мс.</p>
                    </div>
                </div>
        </div>
        <div class="col-sm">
                        <div class="card">
                            <div class="card-body">
                  <h4 class="card-title">Сортировка вставкой</h4>
      <p class="card-text">Для отсортированного массива время работы {{insertion_result.[0]}}мс.</p>
      <p class="card-text">Для почти отсортированного массива время работы {{insertion_result.[1]}}мс.</p>
      <p class="card-text">Для отсортированного в обратном порядке массива время работы {{insertion_result.[2]}}мс.</p>
      <p class="card-text">Для случайного массива время работы {{insertion_result.[3]}}мс.</p>
                            </div>
                        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
              <h4 class="card-title">Сортировка слиянием</h4>
      <p class="card-text">Для отсортированного массива время работы {{merge_result.[0]}}мс.</p>
      <p class="card-text">Для почти отсортированного массива время работы {{merge_result.[1]}}мс.</p>
      <p class="card-text">Для отсортированного в обратном порядке массива время работы {{merge_result.[2]}}мс.</p>
      <p class="card-text">Для случайного массива время работы {{merge_result.[3]}}мс.</p>
                        </div>
                </div>
        </div>
        <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
              <h4 class="card-title">Быстрая сортировка</h4>
      <p class="card-text">Для отсортированного массива время работы {{quick_result.[0]}}мс.</p>
      <p class="card-text">Для почти отсортированного массива время работы {{quick_result.[1]}}мс.</p>
      <p class="card-text">Для отсортированного в обратном порядке массива время работы {{quick_result.[2]}}мс.</p>
      <p class="card-text">Для случайного массива время работы {{quick_result.[3]}}мс.</p>
                        </div>
                    </div>
        </div>
        <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
              <h4 class="card-title">Пирамидальная сортировка</h4>
      <p class="card-text">Для отсортированного массива время работы {{heap_result.[0]}}мс.</p>
      <p class="card-text">Для почти отсортированного массива время работы {{heap_result.[1]}}мс.</p>
      <p class="card-text">Для отсортированного в обратном порядке массива время работы {{heap_result.[2]}}мс.</p>
      <p class="card-text">Для случайного массива время работы {{heap_result.[3]}}мс.</p>
                        </div>
                    </div>
        </div>
    </div>
        <div class="row">
            <div class="col-sm">
                        <div class="card">
                            <div class="card-body">
                  <h4 class="card-title">Сортировка Шелла</h4>
      <p class="card-text">Для отсортированного массива время работы {{shell_result.[0]}}мс.</p>
      <p class="card-text">Для почти отсортированного массива время работы {{shell_result.[1]}}мс.</p>
      <p class="card-text">Для отсортированного в обратном порядке массива время работы {{shell_result.[2]}}мс.</p>
      <p class="card-text">Для случайного массива время работы {{shell_result.[3]}}мс.</p>
                </div></div></div>
            <div class="col-sm">
                        <div class="card">
                            <div class="card-body">
                  <h4 class="card-title">Сортировка Шелла (Последовательность Хиббарда)</h4>
      <p class="card-text">Для отсортированного массива время работы {{hibbard_result.[0]}}мс.</p>
      <p class="card-text" >Для почти отсортированного массива время работы {{hibbard_result.[1]}}мс.</p>
      <p class="card-text">Для отсортированного в обратном порядке массива время работы {{hibbard_result.[2]}}мс.</p>
      <p class="card-text">Для случайного массива время работы {{hibbard_result.[3]}}мс.</p>
                </div></div></div>
            <div class="col-sm">
                        <div class="card">
                            <div class="card-body">
                  <h4 class="card-title">Сортировка Шелла (Последовательность Пратта)</h4>
      <p class="card-text">Для отсортированного массива время работы {{pratt_result.[0]}}мс.</p>
      <p class="card-text">Для почти отсортированного массива время работы {{pratt_result.[1]}}мс.</p>
      <p class="card-text" >Для отсортированного в обратном порядке массива время работы {{pratt_result.[2]}}мс.</p>
      <p class="card-text">Для случайного массива время работы {{pratt_result.[3]}}мс.</p>
                </div></div></div>
        </div>
    </div>
      </main>
  </body>
  <script>
    const ctx1 = document.getElementById('quadroSort');

    new Chart(ctx1, {
        type: 'line',
        data: {
          labels: ['selectionSort', 'bubbleSort', 'insertionSort', 'shellSort1'],
          datasets: [{
          label: 'Результат для отсортированного массива',
              data: [{{selection_result.[0]}}, {{bubble_result.[0]}}, {{insertion_result.[0]}}, {{shell_result.[0]}}],
              fill: false,
              borderColor: 'rgb(255, 192, 192)',
              tension: 0.[1]
          },
          {
          label: 'Результат для почти отсортированного массива',
          data: [{{selection_result.[1]}}, {{bubble_result.[1]}}, {{insertion_result.[1]}}, {{shell_result.[1]}}],
              fill: false,
              borderColor: 'rgb(255, 255, 192)',
              tension: 0.[1]
          },{
          label: 'Результат для отсортированного в обратном порядке массива',
              data: [{{selection_result.[2]}}, {{bubble_result.[2]}}, {{insertion_result.[2]}}, {{shell_result.[2]}}],
              fill: false,
              borderColor: 'rgb(255, 192, 255)',
              tension: 0.[1]
          },

          {label: 'Результат для случайного массива',
              data: [{{selection_result.[3]}}, {{bubble_result.[3]}}, {{insertion_result.[3]}}, {{shell_result.[3]}}],
              fill: false,
              borderColor: 'rgb(75, 192, 192)',
              tension: 0.[1]
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
      const ctx2 = document.getElementById('nonQuadroSort');

      new Chart(ctx2, {
          type: 'line',
          data: {
            labels: ['mergeSort', 'quickSort', 'heapSort', 'shellSort2', 'shellSort3'],
            datasets: [{
            label: 'Результат для отсортированного массива',
                data: [{{merge_result.[0]}}, {{quick_result.[0]}}, {{heap_result.[0]}}, {{hibbard_result.[0]}}, {{pratt_result.[0]}}],
                fill: false,
                borderColor: 'rgb(255, 192, 192)',
                tension: 0.[1]
            },
            {
            label: 'Результат для почти отсортированного массива',
            data: [{{merge_result.[1]}}, {{quick_result.[1]}}, {{heap_result.[1]}}, {{hibbard_result.[1]}}, {{pratt_result.[1]}}],
                fill: false,
                borderColor: 'rgb(255, 255, 192)',
                tension: 0.[1]
            },{
            label: 'Результат для отсортированного в обратном порядке массива',
            data: [{{merge_result.[2]}}, {{quick_result.[2]}}, {{heap_result.[2]}}, {{hibbard_result.[2]}}, {{pratt_result.[2]}}],
                fill: false,
                borderColor: 'rgb(255, 192, 255)',
                tension: 0.[1]
            },

            {label: 'Результат для случайного массива',
            data: [{{merge_result.[3]}}, {{quick_result.[3]}}, {{heap_result.[3]}}, {{hibbard_result.[3]}}, {{pratt_result.[3]}}],
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.[1]
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
  </script>
  <style>
  .row {
      margin-bottom: 20px;
  }
  </style>
</html>
